body {
  background: #000022;
  // background: #091a5d;
  box-sizing: border-box;
}
.hash-span {
  display: none !important;
  margin-top: 0px;
  padding-bottom: 0px;
}
.container {
  margin-bottom: 50px;
  padding: 0.625rem 0.375rem;
  z-index: 0;
  position: relative;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 800px) {
    padding: 1rem;
  }
  @media (min-width: 1536px) {
    max-width: 1280px;
  }
}

.deskNav {
  background-color: #000022;
  padding: 20px 80px;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: space-between;
  top: 0;
  left: 0;
  z-index: 20;
  border-bottom: 2px solid #fa9c1d;

  .logocontainer {
    .logoLink {
      display: block;
      img {
        display: block;
        object-fit: contain;
        height: 100%;
        width: auto;
        max-width: 40px;
      }
      h1 {
        font-size: 21px;
        font-weight: 700;
        transition: ease-in-out 0.3s;
        color: white;
        span {
          transition: ease-in-out 0.3s;
          color: #fa9c1d;
        }

        &:hover {
          color: #fa9c1d;
          span {
            color: white;
          }
        }
      }
    }
  }

  .navlist {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 40px;

    li {
      color: #fbf5f3;
      transition: 0.3s ease-in-out;
      &.active {
        color: #fa9c1d;
      }
      &:hover {
        cursor: pointer;
        &:not(.active) {
          opacity: 0.8;
        }
      }
    }
  }
}

.introduction {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  flex-direction: row;

  height: calc(100vh - 80px);
  position: relative;
  margin-top: 80px;
  min-height: 50vh;
  overflow: hidden;
  padding: 20px 5%;

  .Particle {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    object-fit: contain;
  }
  .text-container {
    position: relative;
    // top: 50%;
    // transform: translateY(-50%);
    width: fit-content;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;

    .sidedesign {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      .circle {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: rgb(250, 155, 31);
      }
      .line {
        width: 2px;
        height: 320px;
        background: linear-gradient(
          0deg,
          rgba(250, 155, 31, 0) 0%,
          rgba(250, 155, 31, 1) 100%
        );
      }
    }

    .text {
      margin-top: 20px;
      h2 {
        font-weight: 900;
        color: white;
        margin-top: 8px;
        font-size: 60px;
      }
      span {
        color: #ffa500;
      }
      .subtxt {
        margin-bottom: 40px;
        p {
          color: #dfd9ff;
          font-weight: 500;
          font-size: 26;
          overflow: hidden;
          white-space: nowrap;
          animation: typing-1 3.5s steps(45, end);
          animation-fill-mode: both;
          // &:first-child {
          // }
          &:nth-child(2) {
            animation-delay: 2.3s;
            // animation: typing-2 3.5s steps(40, end);
          }
        }
      }
    }
    @keyframes typing-1 {
      from {
        opacity: 1;
        width: 0;
      }
      to {
        opacity: 1;
        width: 100%;
      }
    }
  }

  .image-container {
    position: relative;
    display: inline-block;
    // overflow: hidden;
    background-color: #000000;
    img {
      object-fit: contain;
      width: auto;
      max-height: 400px;
      display: block;

      height: auto;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 6px solid transparent; /* Adjust border thickness as needed */
      border-radius: 10px; /* Adjust border radius as needed */
      animation: glowing 2s infinite; /* Adjust duration and animation behavior */
    }
  }

  /* Glowing border effect */
  @keyframes glowing {
    0% {
      box-shadow: 0 0 10px 0px orange; /* Initial shadow style */
    }
    50% {
      box-shadow: 0 0 20px 5px orange; /* Glowing effect */
    }
    100% {
      box-shadow: 0 0 10px 0px orange; /* Return to initial style */
    }
  }

  /* Apply the animation to the border */
}

.primaryBtn {
  display: inline-block;
  position: relative;
  // border: 1px solid white;
  padding: 10px 60px 10px 10px;
  border-radius: 5px;
  background-color: #ffa500;
  overflow: hidden;
  transition: all 0.3s;
  font-weight: 600;
  &::after {
    overflow: hidden;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -30px;
    height: 100%;
    width: 80px;
    transform: skewX(-30deg);
    // background-color: radial-gradient(circle,#6200bc 0%,#4a00c2 100%);
    // background-color: radial-gradient(#6200bc 0%,#4a00c2 100%);
    background-color: white;
    transition: width 0.3s;
  }
  &::before {
    content: "";
    display: block;
    z-index: 1;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%) rotate(180deg);
    height: 14px;
    width: 14px;
    background: url("../assets/arrow.svg") center no-repeat;
    background-size: contain;

    transition: width 0.3s;
  }
  &:hover {
    z-index: 2;
    color: #ffa500;
    &::after {
      z-index: -1;
      width: calc(100% + 40px);
    }
  }
}

.secondaryBtn {
  position: relative;
  display: block;
  width: fit-content;
  background-color: white;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
  font-weight: 600;
  transition: background-color 0.3s;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 100%;
    background-color: #ffa500;
    transform: skewX(20deg);
    transition: width 0.3s;
    z-index: -1;
  }

  &:hover {
    background-color: transparent;
    color: white;

    &::before {
      width: calc(100% + 20px);
    }
  }
}

.overview {
  p {
    max-width: 1000px;
    margin-top: 16px;
    color: #dfd9ff;
    font-size: 17px;
    line-height: 30px;
  }
  .subTitle {
    color: #dfd9ff;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
  .title {
    color: #ffffff;
    font-weight: 900;
    font-size: 30px;
  }
  .subtext {
    margin-top: 16px;
    color: #dfd9ff;
    font-size: 17px;
    max-width: 768px;
    line-height: 30px;
  }

  .cards-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }

  .cards {
    // width: 100%;
    .card {
      width: 250px;
      background: rgba(255, 255, 255, 0.121);
      border-radius: 60px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(6.6px);
      -webkit-backdrop-filter: blur(6.6px);
      border: 1px solid rgba(255, 255, 255, 0.689);

      padding: 1px;
      border-radius: 20px;
      box-shadow: 0px 35px 120px -15px #211e35;

      .content {
        // border-radius: 20px;
        padding: 12px 5px;
        // background: rgba(255, 255, 255, 0.121);
        // background: #333;
        min-height: 280px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;

        img {
          width: 64px;
          height: 64px;
          object-fit: contain;
        }

        h3 {
          color: white;
          font-size: 20px;
          text-align: center;
          font-weight: bold;
        }
      }
    }
  }
}

.experience {
  .subTitle {
    color: #dfd9ff;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
  .title {
    color: #ffffff;
    font-weight: 900;
    font-size: 30px;
  }
}

.timeline-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  img {
    width: 60%;
    height: 60%;
    object-fit: contain;
  }
}

.timeline-content {
  h3 {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
  }

  p {
    color: #dfd9ff;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
  }
}

.timeline-info {
  margin-top: 20px;
  list-style-type: disc;
  margin-left: 20px;
  margin-top: 8px;
}

.TechSkills {
  margin: 0 auto;
  max-width: 1000px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;

  .skillball {
    width: 100px;
    height: 100px;
  }
}

.projects {
  .subTitle {
    color: #dfd9ff;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
  .title {
    color: #ffffff;
    font-weight: 900;
    font-size: 30px;
  }
  .subtext {
    margin-top: 16px;
    color: #dfd9ff;
    font-size: 17px;
    max-width: 768px;
    line-height: 30px;
  }

  .projectcards {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    gap: 28px;

    .card {
      background: rgba(255, 255, 255, 0.121);
      border-radius: 60px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(6.6px);
      -webkit-backdrop-filter: blur(6.6px);
      border: 1px solid rgba(255, 255, 255, 0.3);
      padding: 20px;
      border-radius: 16px;
      width: 360px;

      .cardinfo {
        position: relative;
        width: 100%;
        height: 230px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 16px;
        }

        .content {
          position: absolute;
          inset: 0;
          display: flex;
          justify-content: flex-end;
          margin: 12px;

          .giticon {
            background: #000000; /* fallback for old browsers */
            background: -webkit-linear-gradient(
              to right,
              #434343,
              #000000
            ); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #434343, #000000);

            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border-radius: 9999px;
          }
        }
      }

      .info {
        margin-top: 20px;
        h3 {
          color: white;
          font-weight: bold;
          font-size: 24px;
        }
        p {
          margin-top: 8px;
          color: #dfd9ff;
          font-size: 14px;
        }
      }

      .tags {
        margin-top: 16px;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
      }
    }
  }
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  gap: 40px;
  overflow: hidden;
  .input-wrapper {
    background: rgba(255, 255, 255, 0.121);
    border: 1px solid rgba(255, 255, 255, 0.34);
    // background: rgba(255, 255, 255, 0.119);
    // border: 1px solid rgba(255, 255, 255, 0.34);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(9.3px);

    flex: 0 0 calc(50% - 50px);
    padding: 28px;
    border-radius: 16px;

    .subTitle {
      color: #dfd9ff;
      font-weight: 500;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.05em;
    }
    .title {
      color: #ffffff;
      font-weight: 900;
      font-size: 30px;
    }

    .form {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      gap: 32px;

      label {
        display: flex;
        flex-direction: column;
        span {
          color: white;
          font-weight: 500;
          margin-bottom: 16px;
        }
      }
      input,
      textarea {
        background: white;
        border: 1px solid transparent;

        padding: 16px 24px;
        color: rgb(0, 0, 0);
        outline: 2px solid transparent;
        outline-offset: 2px;

        font-weight: 500;
        border-radius: 8px;
        transition: ease-in-out 0.3s;
        ::placeholder {
          color: #dfd9ff;
          transition: ease-in-out 0.3s;
        }
        &:focus {
          border: 1px solid rgb(0, 0, 0);
          &::placeholder {
            color: black;
          }
        }
      }
      .SubmitBtn {
        position: relative;
        display: block;
        width: fit-content;
        background-color: white;
        padding: 10px 20px;
        text-decoration: none;
        color: #333;
        font-weight: 600;
        transition: background-color 0.3s;
        overflow: hidden;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: -20px;
          width: 0;
          height: 100%;
          background-color: #ffa500;
          transform: skewX(20deg);
          transition: width 0.3s;
          z-index: -1;
        }

        &:hover {
          background-color: transparent;
          color: white;

          &::before {
            width: calc(100% + 20px);
          }
        }
      }
    }
  }
  .Globe-container {
    flex: 0 0 calc(50% - 50px);
  }
}

// .mobilemenu {
//   color: #fa9c1d;
//   background-color: #000022;
//   width: 100vw;
//   position: absolute;
//   top: 100%;
//   transition: bottom 0.3s ease; /* Animation transition */
//   animation: slideInMenu 0.3s ease forwards; /* Slide-in animation */
//   &.shown {
//     height: 100vh;

//   }

//   &.hiddenmenu {
//     height: 100vh;

//   }
//   @keyframes slideInMenu {
//     0% {
//       height: 100vh;
//     }
//     100% {
//       height: 0vh;
//     }
//   }
// }

.mobilemenu {
  color: #fa9c1d;
  background-color: #000022;
  width: 100vw;
  position: absolute;
  top: 73px;
  right: 0;
  height: 0; /* Initial height set to 0 */
  overflow: hidden; /* Hide content that overflows the container */
  transition: height 0.3s ease; /* Animation transition */
  ul {
    // align-items: center !important;
    padding-top: 1rem;

    li {
      width: 100%;
      padding-left: 1rem;
      // padding-bottom: 1rem;
      color: #fbf5f3;
      font-size: 18px;
      display: block;
      position: relative;
      // border-bottom: 1px solid #ffa500;
    }
  }
  &.shown {
    height: 100vh; /* Change the height to 100vh when the 'shown' class is applied */
  }
}
@media screen and (max-width: 800px) {
  .deskNav {
    padding: 20px 20px;
    .navlist {
      display: none;
    }
  }

  .introduction {
    align-content: flex-end;
    justify-content: flex-start;
    .text-container {
      .text {
        h2 {
          font-size: 45px;
        }
      }
    }
  }

  .overview {
    .cards-container {
      justify-content: center;
      .cards {
        width: 100%;
        .card {
          width: 100%;
        }
      }
    }
  }

  .contact-wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
    overflow: hidden;

    .Globe-container {
      min-height: 350px;
      div {
        min-height: 350px;
        div {
          min-height: 350px;
        }
      }
    }
  }
}
